<% provide(:title, @user.username) %>
<div id='user-profile' class='col-sm-8 col-md-8'>
  <div class='image-dammy'></div>
  <h4 id='user-name'><%= @user.username %></h4>
  <% if current_user == @user %>
    <h6 id='user-address'><%= @user.email %></h6>
  <% end %>
  <% if @user.introduce.present? %>
    <div id='user-introduce' class='col-sm-7 col-md-7'>
      <%=safe_join(@user.introduce.split("\n"),tag(:br))%>
    </div>
  <% end %>
</div>