<% provide(:title, 'Home') %>
<div class='container'>
  <div class='row home-index'>
    <div class='intro col-md-7'>
      <h1>TipsGether にようこそ</h1>
      <h6>このアプリでは、日々学んだことや役立つ情報を、</h6>
      <h6>気軽にメモ・管理・他者にシェアをすることができます。</h6>
    </div>
    <div class='startup col-md-5'>
      <h6>ログインはこちらから</h6>
      <p>OR</p>
      <h6>新規登録</h6>
      <h6>ゲストログイン</h6>
    </div>
  </div>
</div>
