
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "rails_bootstrap_forms";

html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
html {
  height: 100%;
  background-color: #fff5d3;
}
a {
  text-decoration: none;
}
body {
  line-height: 1;
  min-height: 100%;
  background-color: #fff5d3;
  font-family: sans-serif;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*=== header ===*/
.navbar {
  background-color: #e3f2fd;
  position: fixed;
  top: 0;
  right: 0px;
  width: 100%;
  z-index: 1;
}
#nav-nt-signin {
  .hd-title {
    margin: 0 auto;
  }
  span {
    margin: 0 auto;
    font-size: 25px;
    font-family: serif;
  }
}
.navbar-expand-lg {
  .navbar-brand {
    font-family: serif;
  }
}
/*==== flash ===*/
.alert {
  margin-top: 51px;
  border-radius: 0;
}
/*=== submit-form ===*/
#submit-form {
  padding: 1em 1.5em;
  margin: 8em auto;
  border: double 5px #4ec4d3;
  background-color: white;
  h3 {
    text-align: center;
    margin: 10px 0 25px;
  }
  p {
    text-align: center;
  }
  .btn {
    margin: 10px 0;
  }
}
/*===  Home#index  ===*/
.home-index {
  margin-top: 100px;
  .intro {
    h1 {
      margin-bottom: 20px;
      font-size: 3rem;
    }
    h6 {
      margin: 0;
    }
  }
  .startup {
    text-align: center;
    padding: 2.5em 1em;
    margin: 2em 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #ffbb45;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    h4 {
      margin: 10px 0;
    }
    .btn {
      margin: 10px 0;
    }
  }
}

/*=== User#show page ===*/
#user-profile {
  padding: 1em 1.5em;
  margin: 7em auto;
  background-color: #e8f5e9;
  border: dashed 3px #4caf50;
  box-shadow: 0 0 0 10px #e8f5e9;
  border-radius: 5px;
  .image-dammy {
    height: 150px;
    background-color: white;
    width: 50%;
    margin: 10px auto;
  }
  #user-name {
    text-align: center;
  }
  #user-address {
    text-align: center;
  }
  #user-introduce {
    margin: 30px auto;
    padding: 0px 25px;
  }
}

/*=== User#index page ===*/
#users-list {
  position: relative;
  margin: 7em auto;
  padding: 35px 20px 15px;
  width: 90%;
  background: #fff;
  color: #555555;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 2px #ccc;
  &:before {
    left: 80px;
  }
  &:after {
    right: 80px;
  }
  h4 {
    text-align: center;
    margin-bottom: 10px;
  }
  .user-info {
    text-decoration: none;
    color: black;
  }
  .image-dammy {
    height: 64px;
    width: 64px;
    background-color: white;
    border: solid 1px;
  }
  .media {
    border-top: dashed 2px #000;
    margin: 15px auto;
    padding-top: 15px;
  }
}
#users-list::before,
#users-list::after {
  position: absolute;
  content: '';
  top: 15px;
  width: 30px;
  border: 1.5px solid #C0C0C0;
  border-radius: 20px;
  box-shadow: 0 -1px 2px #555;
}